*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.lock

# YARD artifacts
.yardoc
_yardoc
doc/
/examples/rails-4-0/public/assets/
/examples/rails-3-2/public/assets/
/.ruby-version

# ignore binstubs
bin
